@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full w-full border-border bg-white bg-[linear-gradient(to_right,#80808033_1px,transparent_1px),linear-gradient(to_bottom,#80808033_1px,transparent_1px)] bg-[size:70px_70px] font-base text-text dark:border-darkBorder dark:bg-secondaryBlack dark:text-darkText;
  }
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  @apply text-text dark:text-darkText;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
